//
// component theme variables
//

@import "px-colors-design/_settings.colors.scss";
@import "px-defaults-design/_settings.defaults.scss";
@import "px-mixins-design/_tools.mixins.scss";


html {
  // Defaults
  --px-base-text-color       : $gray15;
  --px-base-background-color : $white;

  // Data Grid
  --px-data-grid-border-color                             :  $gray10;
  --px-data-grid-separator-color                          :  $gray5;
  --px-data-grid-header-text-color                        :  inherit;
  --px-data-grid-header-background-color                  :  $white;
  --px-data-grid-background-color-striped--odd            :  #F3F5F6;
  --px-data-grid-background-color-striped--selected       :  $gray3;
  --px-data-grid-cell-border-validation--failed           :  $status-red3;
  --px-data-grid-cell-border-color--edit                  :  $primary-default;
  --px-data-grid-cell-border-color--selected              :  rgba($gray8,0.2);
  --px-data-grid-cell-border-validation--failed           :  $status-red3;
  --px-data-grid-cell-background-color--selected          :  rgba($gray8,0.2);
  --px-data-grid-cell-background-color--edit              :  transparent;
  --px-data-grid-cell-text-color--selected                :  $gray15;
  --px-data-grid-cell-text-color-validation--failed       :  $status-red3;
  --px-data-grid-cell-text-color--sorted                  :  $select-default;
  --px-data-grid-cell-text-color--editing                 :  $gray15;
  --px-data-grid-results-text-color--none                 :  $gray8;
  --px-data-grid-insertion-indicator-td-background-color  :  $primary-default;
  --px-data-grid-text-input-background-color--filter      :  $white;
  --px-data-grid-tr--filter                               :  $white;
  --px-data-grid-text-color--dragged                      :  $primary-default;
  --px-data-grid-text-color--hover                        :  $primary-hover;
  --px-data-grid-highlight--high                          :  rgba($status-red3,0.25);
  --px-data-grid-highlight--medium                        :  rgba($status-yellow3,0.25);
  --px-data-grid-highlight--low                           :  rgba($status-blue3,0.25);
  --px-data-grid-spinner-background-color                 :  rgba($white, 0.9);

  // Auto Filter Field
  --px-auto-filter-field-text-color                       :  --px-base-text-color;
  --px-auto-filter-field-text-color--hover                :  --px-base-text-color;
  --px-auto-filter-field-text-color--focus                :  --px-base-text-color;
  --px-auto-filter-field-background-color                 :  $white;
  --px-auto-filter-field-background-color--hover          :  rgba($gray8,0.2);
  --px-auto-filter-field-background-color--focus          :  rgba($status-blue3,0.1);
  --px-auto-filter-field-background                       :  url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHRpdGxlPl88L3RpdGxlPjxjaXJjbGUgY3g9IjYiIGN5PSI2IiByPSI1LjUiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzRjNjQ3MiIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjxsaW5lIHgxPSIxNS41IiB5MT0iMTUuNSIgeDI9IjEwIiB5Mj0iMTAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzRjNjQ3MiIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==) no-repeat;
  --px-auto-filter-field-bottom-border-color              :  $gray8;
  --px-auto-filter-field-bottom-border-color--hover       :  $gray15;
  --px-auto-filter-field-bottom-border-color--focus       :  rgba($status-blue3,0.25);

  // Navigation
  --px-data-grid-navigation-text-color                    :  $gray10;
  --px-data-grid-navigation-text-color--dark              :  $gray15;
  --px-data-grid-navigation-text-color--selected          :  $select-default;
  --px-data-grid-navigation-text-color--disabled          :  rgba($grey8,0.5);
  --px-data-grid-navigation-page-number-border-color      :  $grey7;
}

