@import 'px-data-grid-shared';

:host {
  display: block;
  width: 100%;
  white-space: nowrap;
}

.labeled-text {
  display: inline-block;
  width: 33%;
  padding: 0 7px 3px 1px;
  box-sizing: border-box;
  vertical-align: bottom;
  margin-top: 7px;
}

.labeled-text[extended] {
  width: 66%;
  vertical-align: top;
}

.labeled-text.own-row{
  display: block;
}

.labeled-text[extended].own-row{
  vertical-align: bottom;
}

.labeled-text > * {
  width: 100%;
}

px-rangepicker {
  --px-datetime-range-field-column-min-width: 0;
}
