@import 'px-data-grid-shared';

.action-buttons {
  width: 100%;
}

input[type="checkbox"] {
  margin-top: 40px;
  margin-left: $inuit-base-spacing-unit--large;
}

label.label--inline {
  text-transform: none;
  font-size: 15px;
}

px-modal-triggers {
  height: var(--px-btn-height,2em);
}

px-modal-triggers, .btn {
  padding-left: .66667rem;
  padding-right: .66667rem;
}

.action-btn+.action-btn {
  margin-left: 0px;
}

.action-btn:last-child {
  margin-left: -7px;
}

.table-filters px-icon {
  margin-right: 4px;
  margin-top: -2px;
  --iron-icon-height: 16px;
}
