@import 'px-data-grid-shared';

:host {
  display: block;
  width: 800px;
  max-width: 100%;
  padding-bottom: 32px;
  --px-btn-min-width: 0;
}

px-dropdown {
  --px-btn-min-width: 0;
}

.action-select {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.action-select > * + * {
  margin-left: 5px;
}

.filter-entity {
  display: flex;
  align-items: flex-end;
  margin-top: 7px;
}

button.btn.btn--icon.btn--bare--primary {
  margin-left: 20px;
}

.no-filters {
  margin-bottom: 4px;
}

.add-filter {
  margin-top: 4px;
}

.add-filter px-icon {
  --iron-icon-height: 16px;
}
