@import 'px-data-grid-shared';

:host {
  display: flex;
  flex-direction: column;
}

px-chip + px-chip {
  margin-top: 5px;
}

px-chip {
  --px-chip-max-width: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.remaining-amount {
  font-size: 12px;
  color: $gray10;
}
