:host {
  display: flex;
  flex: 1;
  align-items: center;
  padding-top: 10px;
  --px-dropdown-toggle-icon-size: 8px;
  margin-left: calc(0px - var(--px-dropdown-toggle-icon-size));
  --iron-icon-stroke-color: inherit;
  color: var(--px-data-grid-header-text-color, inherit);
  stroke: var(--px-data-grid-header-text-color, inherit);
}

px-icon {
  --iron-icon-height: var(--px-dropdown-toggle-icon-size);
  --iron-icon-width: var(--px-dropdown-toggle-icon-size);
  cursor: pointer;
  padding-bottom: 3px;
  color: inherit;
  --iron-icon-stroke-color: inherit;

}

px-dropdown {
  text-transform: none;
  --px-dropdown-content-font-size: 1rem;
}

px-dropdown[hidden] {
  visibility: hidden;
  display: inline-block !important;
}

:host ::slotted(vaadin-grid-sorter) {
  align-items: center;
}

:host,
:host px-icon{
  color: inherit;
  stroke: inherit;
}

:host(:hover),
:host(:hover) px-icon{
  color: var(--px-data-grid-header-text-color--hover, inherit);
  stroke: var(--px-data-grid-header-text-color--hover, inherit);
}

:host(:active),
:host(:active) px-icon{
  color: var(--px-data-grid-header-text-color--active, inherit);
  stroke: var(--px-data-grid-header-text-color--active, inherit);
}



