@import 'px-data-grid-shared';

:host {
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.labeled-text {
  flex-basis: 33%;
  padding: 0px 2px;
  box-sizing: border-box;
}

.labeled-text[extended] {
  flex-basis: 66%;
}

.labeled-text > * {
  width: 100%;
}
