@import 'px-data-grid-shared';

.filter-modal-buttons-container {
  padding: $inuit-base-spacing-unit--large;
  padding-bottom: 0;
  margin-bottom: calc(0px - #{$inuit-base-spacing-unit--large});
  display: flex;
}

.filter-modal-buttons-container__right {
  margin-left: auto;
}

input[type="checkbox"] {
  margin-top: 40px;
  margin-left: $inuit-base-spacing-unit--large;
}
