@import 'px-data-grid-shared';

:host {
  display: inline-block;
  box-sizing: border-box;
  padding: 1px 0;
}

px-tooltip {
  --px-tooltip-max-width: none;
}

px-chip {
  --px-chip-max-width: none;
}

.filter-entity-chip {
  margin-right: 5px;
}

.clear-all-filters {
  margin-left: 5px;
}


