//
// component theme variables
//

@import "px-colors-design/_settings.colors.scss";
@import "px-defaults-design/_settings.defaults.scss";
@import "px-mixins-design/_tools.mixins.scss";


html {
  background-color: $gray16;

  // Defaults
  --px-base-text-color        :  $gray5;
  --px-base-background-color  :  $gray16;

  // Data Grid
  --px-data-grid-border-color                             :  $gray10;
  --px-data-grid-separator-color                          :  $gray15;
  --px-data-grid-header-text-color                        :  inherit;
  --px-data-grid-header-background-color                  :  $gray16;
  --px-data-grid-background-color-striped--odd            :  #31434D;
  --px-data-grid-background-color-striped--selected       :  $gray15;
  --px-data-grid-cell-border-validation--failed           :  $status-red3;
  --px-data-grid-cell-border-color--edit                  :  $primary-default;
  --px-data-grid-cell-border-color--selected              :  rgba($gray10, 0.2);
  --px-data-grid-cell-border-validation--failed           :  $status-red3;
  --px-data-grid-cell-background-color--selected          :  $gray15;
  --px-data-grid-cell-background-color--edit              :  transparent;
  --px-data-grid-cell-text-color--selected                :  $gray5;
  --px-data-grid-cell-text-color-validation--failed       :  $status-red3;
  --px-data-grid-cell-text-color--sorted                  :  $select-default;
  --px-data-grid-cell-text-color--editing                 :  $gray5;
  --px-data-grid-results-text-color--none                 :  $gray8;
  --px-data-grid-insertion-indicator-td-background-color  :  $primary-default;
  --px-data-grid-text-input-background-color--filter      :  transparent;
  --px-data-grid-tr--filter                               :  transparent;
  --px-data-grid-text-color--dragged                      :  $primary-default;
  --px-data-grid-text-color--hover                        :  $primary-hover;
  --px-data-grid-highlight-background-color               :  $gray3;
  --px-data-grid-spinner-background-color                 :  rgba($gray16, 0.9);
}
