:host {
  align-items: center;
  position: relative;
  display: inline-flex;
  flex: 1;
  cursor: pointer;
}

:host([direction]) [part="content"] {
  color: var(--px-data-grid-cell-text-color--sorted);
}

[part="content"] {
  overflow: hidden;
  text-overflow: ellipsis;
}

[part="indicators"] {
  white-space: nowrap;
  flex: 0;
  color: var(--px-data-grid-cell-text-color--sorted);
}

[part="indicators"]:hover {
  color: var(--px-data-grid-header-text-color--hover);
}

#order-icon {
  --iron-icon-height: 8.5px;
  --iron-icon-width: 8.5px;
  stroke-width: 2.25;
  padding-bottom: 1.5px;
  margin-left: 5.5px;
}
