:host {
  display: flex;
  flex: 1;
  align-items: center;
  padding-top: 10px;
  --px-dropdown-toggle-icon-size: 8px;
  margin-left: calc(0px - var(--px-dropdown-toggle-icon-size));
}

px-icon {
  --iron-icon-height: var(--px-dropdown-toggle-icon-size);
  --iron-icon-width: var(--px-dropdown-toggle-icon-size);
  --iron-icon-fill-color: var(--px-data-grid-cell-text-color--sorted, rgb(129,129,129));
  --iron-icon-stroke-color: var(--px-data-grid-cell-text-color--sorted, rgb(129,129,129));
  cursor: pointer;
  padding-bottom: 3px;
}

px-dropdown {
  text-transform: none;
  --px-dropdown-content-font-size: 1rem;
}

px-dropdown[hidden] {
  visibility: hidden;
  display: inline-block !important;
}

:host ::slotted(vaadin-grid-sorter) {
  align-items: center;
}
